.title {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #617bfb, #64ffb3e3);
    text-align: center;
}

.subtitle {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #617bfb, #64ffb3e3);
    font-size: 1.5em;
    text-align: center;
}

.button-container {
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 22px;
    }
}
